<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<parameter name="platformName" value="Android" />
	<parameter name="udid" value="emulator-5554" />
	<parameter name="deviceName" value="Pixel_4" />

	<test name="Pixel_4">
		<classes>
			<class name="com.qa.tests.Scenario1" />
		</classes>
	</test>
</suite>